*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #d9eff7, #a8d5e2);
}
#pagetitle {
    width: 80%;
    position: fixed;
    right: 0%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    color: black;
}
/* not sure if this is necessary, but the stuff other than the sidebar goes here: */
.maincontent {
    position: absolute;
    right: 0;
    width: 70%;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: #042331;
}
.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}