#addNewClass {
    position: absolute;
    right: 1000px;
    top: 50px;
}
#contentOfHome {
    position: absolute;
    left: 0%;
    top: 200px;
}
#classNamesOnPage {
    font-size: x-large;
    color: rgb(81, 83, 107);
    cursor: pointer;
}
#classNamesOnPageTitle {
    font-size: x-large;
}
button {
    background-color: rgb(76, 95, 204);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 2px gray;
    outline: none;
    width: 100px; height: 70px;
    text-align: center;
    color: white;
    /* font-size: small; */
}
button:hover {
    background-color: rgb(61, 77, 167);
}